body{    
margin: 0px;
    padding: 0px;
}
#logo{
	width:150px;
}


#right{
width: 80%;
    display: inline-block;
    min-height: 1px;
}

div#left {
    width: 11%;
    display: inline-block;
    padding: 2%;
    height: 100vh;
    border-right: 1px solid #000;
}